---
import LandingLayout from "../layouts/LandingLayout.astro";
import "../styles/global.css";
import Welcome from "../components/Welcome.astro";
---

<LandingLayout>
  <main class="px-6 py-8 md:px-12 md:py-12">
    <section class="container-max">
      <Welcome />
    </section>
  </main>
</LandingLayout>
