---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="max-w-4xl mx-auto px-4 py-12">
    <h1 class="font-title text-3xl text-teal-500">Work Experience</h1>
  </main>
</Layout>
