---
import type { SvgComponent } from "astro/types";
import Dune from "../assets/logos/dune.svg";
import ContactItem from "./ContactItem.astro";

interface ContactEntry {
  name: string;
  href: string;
  faIcon?: string;
  svgIcon?: SvgComponent;
  brandColor: string;
  isWorkLink?: boolean;
}

const contacts: ContactEntry[] = [
  {
    name: "Twitter",
    href: "https://x.com/maybeYonas",
    faIcon: "fa-brands fa-x-twitter",
    brandColor: "#000000",
  },
  {
    name: "LinkedIn",
    href: "https://linkedin.com/in/darvinrio",
    faIcon: "fa-brands fa-linkedin",
    brandColor: "#346ABF",
  },
  {
    name: "Telegram",
    href: "https://t.me/maybeyonas",
    faIcon: "fa-brands fa-telegram",
    brandColor: "#6AA7E6",
  },
  {
    name: "GitHub",
    href: "https://github.com/darvinrio",
    faIcon: "fa-brands fa-github",
    brandColor: "#333333",
    isWorkLink: true,
  },
  {
    name: "Dune",
    href: "https://dune.com/maybeYonas",
    svgIcon: Dune,
    brandColor: "#E06E50",
    isWorkLink: true,
  },
  {
    name: "Email",
    href: "mailto:todarvinrio@gmail.com",
    faIcon: "fa-solid fa-envelope",
    brandColor: "#EA4335",
  },
];
---

<div class="mt-6 flex flex-col gap-4">
  <p class="font-text">reach out to me on:</p>
  <div class="flex items-center gap-4">
    {
      contacts
        .filter((c) => !c.isWorkLink)
        .map((contact) => <ContactItem contact={contact} />)
    }
  </div>
  <p class="font-text">check out my work here:</p>
  <div class="flex items-center gap-4">
    {
      contacts
        .filter((c) => c.isWorkLink)
        .map((contact) => <ContactItem contact={contact} />)
    }
  </div>
</div>
