---
import { contacts } from "../data/contact";
---

<div class="mt-6 flex items-center gap-4">
  {
    contacts.map((contact) => (
      <a
        href={contact.href}
        target="_blank"
        rel="noopener noreferrer"
        aria-label={contact.name}
        class="hover:text-teal-600 transition-colors"
      >
        <i class={`${contact.faIcon} text-2xl text-black dark:text-white`} />
      </a>
    ))
  }
</div>
