---
import DarkToggle from "./DarkToggle.astro";
import Contacts from "./Contacts.astro";
---

<div class="font-title flex items-center justify-between gap-4">
  <div>
    <h2 class="text-2xl">hello there</h2>
    <h1 class="text-3xl">
      I am <span class="text-3xl">maybe</span><span
        class="text-3xl text-teal-500">Yonas</span
      >
    </h1>
  </div>
  <DarkToggle />
</div>
<hr class="border-t-2 border-teal-500 mt-6" />
<p class="mt-6 font-text">
  I am a <span class="text-teal-500 font-bold">Data Analyst</span> with 4 years of
  blockchain data experience.
  <br />
  Currently I am exploring ML, Soccer Prediction Markets and GenAI.
  <br />
  Looking for roles to expand beyond Data Analytics.
</p>
<div class="mt-10 flex flex-col gap-2 font-text">
  <a
    href="/Darvin - Data Analyst.pdf"
    target="_blank"
    rel="noopener noreferrer"
    class="text-teal-500 hover:underline font-bold">View Resume</a
  >
  <a href="/work" class="text-teal-500 hover:underline">Work Experience</a>
  <a href="/blog" class="text-teal-500 hover:underline">Writings</a>
</div>
<Contacts />
